<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- MAPPING PER FARE LE QUERY NEL DAO -->
<hibernate-configuration>
    <session-factory>
        <mapping class="com.dogsitter.model.User"/>
        <mapping class="com.dogsitter.model.Role"/>
        
        <mapping class="com.dogsitter.model.Person"/>
        
        <mapping class="com.dogsitter.model.Regioni"/>
        <mapping class="com.dogsitter.model.Province"/>
        <mapping class="com.dogsitter.model.Comuni"/>
        
        <mapping class="com.dogsitter.model.TipoRuoliServiceDog"/>
        
        <mapping class="com.dogsitter.model.DogSitter"/>
        <mapping class="com.dogsitter.model.DogHost"/>
        <mapping class="com.dogsitter.model.Adozione"/>
        <mapping class="com.dogsitter.model.Cane"/>
        <mapping class="com.dogsitter.model.Associazione"/>
        <mapping class="com.dogsitter.model.Gatto"/>
        <mapping class="com.dogsitter.model.Image"/>
        <mapping class="com.dogsitter.model.AnnunciKijijiDogSitter"/>
        <mapping class="com.dogsitter.model.AnnunciCercaPadroneAdozione"/>
        
        <mapping class="com.dogsitter.model.Immagini_store"/>
        <mapping class="com.dogsitter.model.GestioneApplicazione"/>
    </session-factory>
</hibernate-configuration>
