Salve ${user.fullName}

Tu (o qualcun altro) ha richiesto una nuova password.

Clicca sul link sottostante per impostare una nuova password per il tuo account:
${applicationURL}

Il link scadrà in 24 ore.

Saluti
