Caro/a ${user.fullName},

Il tuo nome utente è: ${user.username}


Clicca qui se desideri reimpostare la password su ServiziDog.it
${applicationURL}

Questo link è valido per 24 ore. Se il link attuale è scaduto, puoi chiederne uno nuovo qui www.servizidog.it/servizidog/recoverpass

	
Saluti da,
www.servizidog.it